PORT=3000
DASHBOARD_REFRESH_INTERVAL_MS=60000

FITNESS_API_BASE_URL=http://host.docker.internal:8787
FITNESS_API_TOKEN=
FITNESS_LIMIT=8

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_MEALS_TABLE=meals
NUTRITION_LIMIT=20

HUE_BRIDGE_IP=
HUE_USERNAME=

SMARTLIFE_PROXY_BASE_URL=http://smartlife-proxy:8080
SMARTLIFE_PROXY_TOKEN=replace_me

ARAMSMART_BASE_URL=
ARAMSMART_TOKEN=
