EXPO_PUBLIC_REFRESH_INTERVAL_MS=60000

EXPO_PUBLIC_FITNESS_API_BASE_URL=http://host.docker.internal:8787
EXPO_PUBLIC_FITNESS_API_TOKEN=
EXPO_PUBLIC_FITNESS_LIMIT=8

EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_MEALS_TABLE=meals
EXPO_PUBLIC_NUTRITION_LIMIT=20

EXPO_PUBLIC_HUE_BRIDGE_IP=
EXPO_PUBLIC_HUE_USERNAME=

EXPO_PUBLIC_SMARTLIFE_PROXY_BASE_URL=http://localhost:8080
EXPO_PUBLIC_SMARTLIFE_PROXY_TOKEN=replace_me

EXPO_PUBLIC_ARAMSMART_BASE_URL=
EXPO_PUBLIC_ARAMSMART_TOKEN=
